@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "SoDo Sans", Helvetica;
}
